// Importe fontes do Google Fonts ou outras fontes
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

// Defina a família de fontes principal
$font-family-primary: 'Roboto', sans-serif;

// Defina tamanhos de fonte comuns
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-extra-large: 24px;
