// Importe variáveis de estilo e topografia de fontes
@import 'ngx-toastr/toastr';
@import 'variables';
@import 'fonts';

// Defina altura e largura padrão para o corpo do site
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //overflow: hidden; // Isso impede a barra de rolagem vertical quando não for necessário
}

input {
  padding-left: 10px;
  box-sizing: border-box; // Garante que o padding e a borda sejam incluídos na largura total do elemento
}

// Estilos globais
body {
  font-family: $font-family-primary;
  font-size: $font-size-medium;
  color: $text-color;
  background-color: #f8f8f8;
}

// Exemplo de classe personalizada usando as variáveis
.custom-button {
  background-color: $primary-color;
  color: #fff;
  padding: 10px 20px;
  border-radius: $border-radius;
  font-size: $font-size-small;

  &:hover {
    background-color: $secondary-color;
  }
}

// Personaliza a largura e altura das toasts
.toast-container .ngx-toastr {
  width: 400px !important;   // Aumenta a largura
  min-height: 40px !important;  // Diminui a altura mínima
}
