@import '../../../assets/scss/styles';

.container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;

  .title {
    font-size: 28px;
    color: $primary-color;
    font-weight: bold;
  }

  .subtitle {
    font-size: 18px;
    color: $muted-text-color;
    margin-bottom: 20px;
  }
}
